In [1]:
print('hello world')
print('안녕 세상아!')

hello world
안녕 세상아!

In [2]:
school = 'hello world'
print(school)

hello world

In [3]:
x='hi'
print(x)

hi

## 식별자의 잘못된 예

#### 특수문자 사용불가
a!b=10
print(a!b)

#### 특수문자, 문장부호, 공백문자 사용불가
가&나=1
print(가&나)

#### 식별자의 첫글자는 숫자 사용불가
20신입생=1
print(20신입생)

#### 예약어 사용불가
print=2
print(print)

In [4]:
# 스네이트 케이스로 식별자 지정
myNewSchool='Kookmin University'
print(myNewSchool)

abc_='hi'
print(abc_)

Kookmin University
hi

In [5]:
# 변수이름으로 사용불가
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Memory

In [6]:
school='국민대학교'
print(school)

국민대학교

In [7]:
myschool = 'kookmin'
yourschool = myschool
print(myschool)
print(yourschool)

kookmin
kookmin

In [16]:
Teacher = 'Mr. Morton'
print("Teacher id=", id(Teacher))
Teacher = "Ms. Senders"
print("Teacher id=", id(Teacher))
MyTeacher = "Ms. Sanders"
YourTeacher = MyTeacher
print("MyTeacher id=", id(MyTeacher))
print("YourTeacher id=", id(YourTeacher))

del YourTeacher
del MyTeacher

Teacher id= 2865371736624
Teacher id= 2865371736048
MyTeacher id= 2865371735984
YourTeacher id= 2865371735984

In [10]:
id(1)

140731823765280

In [11]:
id(2)

140731823765312

In [12]:
id(100)

140731823768448

In [13]:
id(300)

2865379054064

In [14]:
print(id("p"))

2865283876656

#### 'p'는 string 객체


#### print(id(p))
#### -> NameError: name 'p' is not defined

In [17]:
print('hello world') # -> 출력만 하고 실행후에는 참조대상이 없기 때문에 garbage collecting의 대상

hello world

In [18]:
x = 'hello world'
print(x)

hello world

In [19]:
print(x)

hello world

# 자료형

In [20]:
a=10
b=3.14
c='cat'
print(a,b,c)

10 3.14 cat

In [22]:
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [26]:
x='345'
y=345
print(x) # string 345 -> '345'
print(int(x)) # int 345 -> 345

345
345

In [24]:
z=3+2j
print(z)

(3+2j)

In [28]:
print("a+y=",a+y)

a+y= 355

#### TypeError: can only concatenate str (not "int") to str
print("x+y=",x+y)

In [30]:
# 문자열끼리의 덧셈 -> 합치기
x1='678'
print("x+x1=", x+x1)

x+x1= 345678

In [31]:
x=30
y=40
print(x>y)
print(x<y)
print(x==y)
print((x<y) and (x==30))
print(not (x==30))
print(y!=40)

False
True
False
True
False
False

In [32]:
print(bool(x==30))

True

### bool()
### 0일때 False, 나머지 수는 True

In [33]:
x='hello world!'
print(x)
y='3.14'
print(y)

hello world!
3.14

In [34]:
z = """이중 인용부호나, 단일 인용부호 3개를
연달아 사용하여 양쪽으로 감쌀 경우,
여러 줄의 문자열을 한 번에 표현 가능"""
print(z)

이중 인용부호나, 단일 인용부호 3개를
연달아 사용하여 양쪽으로 감쌀 경우,
여러 줄의 문자열을 한 번에 표현 가능

In [36]:
print(x+y+x)

hello world!3.14hello world!

In [37]:
print(4*x)

hello world!hello world!hello world!hello world!

#### TypeError: unsupported operand type(s) for +: 'int' and 'str'
#### print(4+x)

In [40]:
z="4"+x
print(z)

4hello world!

In [41]:
print(4*z)

4hello world!4hello world!4hello world!4hello world!

In [42]:
s = 'abcdefg'
print(s)

abcdefg

In [43]:
# (3+1) 번째
print(s[3])

d

In [44]:
# 0번째 부터 (2-1)번째 까지
print(s[0:2])

ab

In [45]:
# 0번째 부터 (5-1)번째 까지
print(s[0:5])

abcde

In [46]:
print(s[:])

abcdefg

In [47]:
# -2는 뒤에서 두번째 = 5
print(s[-2:6])

f

#### (3+1)번째 문자 변경시도 -> 에러발생 -> 중간의 값은 변경할 수 없으므로 전체를 변경해야함
#### s[3] = 'z'
#### -> TypeError: 'str' object does not support item assignment

In [50]:
s = 'abcdefg'
l = len(s)
print(l)

7

In [51]:
print(len('안녕하세요'))

5

In [53]:
print(len('010-7777-7777'))

13

In [54]:
print(str(3414))

3414

In [55]:
x=3+4j
s=str(x)
print(s)

(3+4j)

In [56]:
print(s[1])

3

In [59]:
p=3.14
s=str(p)
print(s[2])
print(s[2:4])
# 부분으로 이루어진 string -> substring

1
14

In [60]:
print(ord('A'))
print(chr(ord('A')+1))
print(chr(ord('A')+2))

65
B
C

In [61]:
x = None
print(x)

None

In [62]:
a=1
b=1.0
c=1+0j
d=True
e='a'
f=None

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>

# 연산자

In [64]:
x=9
y=4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y) # 나머지는 주기성 때문에 많이 사용됨

13
5
36
2.25
2
1

In [65]:
print(x**y)

6561

In [69]:
x=123000000
print(x)
print('%e' %x)

123000000
1.230000e+08

In [70]:
y=0.00000123
print(y)

1.23e-06

In [71]:
x = 9
x += 10 # -> x=x+10
print(x)

19

In [72]:
x=3
y=4
print(x==y)
print(10==10)
print(x!=4)

False
True
True

In [73]:
print(True and False)
print(True or False)
print(not True)

False
True
False

In [74]:
a = 16 + 4 + 2 + 1 # 23 
b = 0 + 4 + 0 + 1 # 5
print("a & b =", a & b, " Binary =", bin(a & b)) # 같은 위치에 있는 모두 1이면 1 하나라도 0이면 0
print("a | b =", a | b, " Binary =", bin(a | b))
print("a ^ b =", a ^ b, " Binary =", bin(a ^ b))
print("~b =", ~b, " Binary =", bin(~b & 0xFFFFFFFF))

a & b = 5  Binary = 0b101
a | b = 23  Binary = 0b10111
a ^ b = 18  Binary = 0b10010
~b = -6  Binary = 0b11111111111111111111111111111010

In [75]:
print(2+4+3)
print((2+4)+3)

9
9

In [76]:
a='hello'
x=20
print('%s %d' %(a,x))

hello 20

In [77]:
x = 20173301
print("%d is %s in binary"%(x, bin(x)))
print("%d is %s in octal"%(x, oct(x)))
print("%d is %s in hexadecimal"%(x, hex(x)))

20173301 is 0b1001100111101000111110101 in binary
20173301 is 0o114750765 in octal
20173301 is 0x133d1f5 in hexadecimal

In [78]:
xb = "1001100111101000111110101"
print("%s is %d in decimal"%(xb, int(xb, 2)))
xo = "114750765"
print("%s is %d in decimal"%(xo, int(xo, 8)))
xh = "133D1F5"
print("%s is %d in decimal"%(xh, int(xh, 16)))

1001100111101000111110101 is 20173301 in decimal
114750765 is 20173301 in decimal
133D1F5 is 20173301 in decimal

# 숙제

In [79]:
print(100%7) # -> 오늘이 일요일 일때, 100일 후는 화요일

2

In [1]:
print(100000000%7)# -> 오늘이 일요일 일때, 100000000일 후는 화요일

2

# 입력과 출력

In [4]:
name = input("입력하세요: ")
print("hello")
print(name)

입력하세요: 지윤혁
hello
지윤혁

In [5]:
num1 = input("첫번째 숫자를 입력하세요: ")
num2 = input("두번째 숫자를 입력하세요: ")
print(num1+num2)

첫번째 숫자를 입력하세요: 123
두번째 숫자를 입력하세요: 456
123456

In [6]:
num1 = int(input("첫번째 숫자를 입력하세요: "))
num2 = int(input("두번째 숫자를 입력하세요: "))
print(num1+num2)

첫번째 숫자를 입력하세요: 123
두번째 숫자를 입력하세요: 564
687

In [7]:
print("hello\nworld")

hello
world

In [8]:
print("""\
    /\\_____/\\
   / o o \\
  ( == ^ == )
   )       (
   ( )
( ( ) ( ) )
(__(__)___(__)__)
""")

/\_____/\
/ o o \
( == ^ == )
) (
( )
( ( ) ( ) )
(__(__)___(__)__)

In [9]:
print("""\
|\\ _,,,---,,_
ZZZzz /,`.-'`' -. ;-;;,_
|,4- ) )-,_. ,\\ ( `'-'
'---''(_/--' `-'\\_)
""")

|\ _,,,---,,_
ZZZzz /,`.-'`' -. ;-;;,_
|,4- ) )-,_. ,\ ( `'-'
'---''(_/--' `-'\_)

# 주석

In [10]:
print ("I love pizza!")
print ("pizza " * 2)
print ("yum " * 4)
print ("I'm full.") # No print

I love pizza!
pizza pizza
yum yum yum yum
I'm full.

In [11]:
# Listing_1-1.py
# Copyright Warren Sande, 2009
# Released under MIT license

In [13]:
""" Listing_1-1.py
Copyright Warren Sande, 2009
Released under MIT license
""" # 정확히 말하면 주석이 아니라 문자열로 처리하여 주석의 기능을 하게 만든 것임.

' Listing_1-1.py\nCopyright Warren Sande, 2009\nReleased under MIT license\n'

# Random 모듈

In [16]:
import random

x = random.randint(0,1)
print(x)

1

In [17]:
i = 1
print("Random #%d: %d" %(i, random.randint(1, 6)))
i += 1
print("Random #%d: %d" %(i, random.randint(1, 6)))
i += 1
print("Random #%d: %d" %(i, random.randint(1, 6)))
i += 1
print("Random #%d: %d" %(i, random.randint(1, 6)))
i += 1
print("Random #%d: %d" %(i, random.randint(1, 6)))

Random #1: 6
Random #2: 1
Random #3: 5
Random #4: 5
Random #5: 3

# Turtle 모듈

In [1]:
import turtle
s = turtle.Screen()

t = turtle.Turtle()

t.forward(100)
t.left(90)

u = turtle.Turtle()

u.left(90)
u.forward(100)

t.forward(100)

u.right(45)

turtle.exitonclick()