In [1]:
family = ['엄마', '아빠', '형', '동생']
print(family)

['엄마', '아빠', '형', '동생']

In [5]:
x = ['a', 'b', 'c']
your_list = ['에이','비','씨']
my_list = [5, 10, 21, 23,'Hello', x, your_list]
print(my_list)

[5, 10, 21, 23, 'Hello', ['a', 'b', 'c'], ['에이', '비', '씨']]

In [6]:
infinite_members = ['김성규', '장동우', '남우현', '이성열', '엘', '이성종']
print(infinite_members)

['김성규', '장동우', '남우현', '이성열', '엘', '이성종']

In [7]:
myList = []
myList.append('Alice')
myList.append('Bob')
myList.append('Carole')
print(myList)

['Alice', 'Bob', 'Carole']

In [8]:
a = [1,2,3]
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
myList = []
myList.append('Alice')
myList.append('Bob')
myList.append('Carole')
print(myList[0])
print(myList[1])
print(myList[2])

numbers = [1,3,5,7] # 맨 뒤에서부터 -1
print(numbers[3])
print(numbers[-1])
print(numbers[-2])

Alice
Bob
Carole
7
7
5

In [11]:
myList = ['Alice', 'Bob', 'Carole']
print(myList[0:2]) # 0(첫번째)부터 2(3번째)하나 전까지 

numbers = [1,3,5,7,9,11]
print(numbers[1:4]) # 1~3까지 인덱스상으로는 2~4까지

['Alice', 'Bob']
[3, 5, 7]

In [14]:
numbers = [1,3,5,7,9,11]
print(numbers[1])
print(type(numbers[1]))
print(numbers[1:4])
print(type(numbers[1:4]))

3
<class 'int'>
[3, 5, 7]
<class 'list'>

In [18]:
myList = ['Alice', 'Bob', 'Carole']
print(myList[0:2:2])

numbers = [1,3,5,7,9,11,13]
print(numbers[0:7:3])

['Alice']
[1, 7, 13]

In [19]:
numbers = [1,3,5,7,9,11]
print(type(numbers[1]))
print(type(numbers[0:5:3]))

<class 'int'>
<class 'list'>

In [22]:
graduate = ['Jeong', 'Lee', 'Kim']
undergraduate = ['Yeongjae', 'Myeong', 'Han']

all_lab_members = graduate + undergraduate
print(all_lab_members)
print(graduate*2)
print(undergraduate*2) # 2번씩 반복

['Jeong', 'Lee', 'Kim', 'Yeongjae', 'Myeong', 'Han']
['Jeong', 'Lee', 'Kim', 'Jeong', 'Lee', 'Kim']
['Yeongjae', 'Myeong', 'Han', 'Yeongjae', 'Myeong', 'Han']

In [23]:
graduate = ['Jeong', 'Lee', 'Kim']
print("인원 수:", len(graduate))

인원 수: 3

In [24]:
numbers = [1,3,5,7,9,11]
numbers[2] = 13
print(numbers)

alphabet = ['a', 'b', 'c', 'd']
alphabet[1] = 'z'
print(alphabet)

[1, 3, 13, 7, 9, 11]
['a', 'z', 'c', 'd']

In [25]:
alphabet = ['a', 'b', 'c', 'd']
alphabet.append('e')
alphabet.insert(1, 'z') # 인덱스 1의 위치에 z를 추가 (수정과는 다른 개념)
alphabet.extend(['f','g','h'])
print(alphabet)

['a', 'z', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [27]:
alphabet = ['a','b','c','d','e']
alphabet.remove('c') # 특정값을 제거, 종복시에 제일 먼저값 제거
del alphabet[1] # 특정 인덱스에 있는 요소 제거
x = alphabet.pop()
print(alphabet)
print(x)

['a', 'd']
e

In [31]:
lab_members = ["Jeong","Jeong","Lee","Kim",
              "Yeonjae", "Myeong", "Han"]
print(lab_members)

del lab_members[0]
print(lab_members)

lab_members.pop(5) # 인덱스 5번째 제거하고 반환
print(lab_members)

['Jeong', 'Jeong', 'Lee', 'Kim', 'Yeonjae', 'Myeong', 'Han']
['Jeong', 'Lee', 'Kim', 'Yeonjae', 'Myeong', 'Han']
['Jeong', 'Lee', 'Kim', 'Yeonjae', 'Myeong']

In [33]:
ant_series = [1,1,2,3,1,2,3,1,1,1]

print("Before :", ant_series)
ant_series.remove(2) # 2라는 값을 제거(제일 앞에 있는 숫자)
print("After :", ant_series)

Before : [1, 1, 2, 3, 1, 2, 3, 1, 1, 1]
After : [1, 1, 3, 1, 2, 3, 1, 1, 1]

In [34]:
alphabet = ['a', 'b', 'c', 'd', 'e']
print('b' in alphabet)
if 'a' in alphabet:
    print("There is 'a'")
else:
    print("There is not 'a'")

True
There is 'a'

In [36]:
alphabet = ['a', 'b', 'c', 'd', 'e']
print(alphabet.index('c'))
if 'c' in alphabet:
    print("The index of 'c' is", alphabet.index('c'))

2
The index of 'c' is 2

In [40]:
infinite_members = ['김성규', '장동우', '남우현', '이성열', '엘', '이성종']
name = input("이름 >")
if name in infinite_members :
    idx = infinite_members.index(name)
    print("{}는 인피니트의 {}번째 멤버입니다.".format(name, idx))
else :
    print("{}는 인피니트의 멤버가 아닙니다.".format(name))

이름 >김성규
김성규는 인피니트의 0번째 멤버입니다.

In [41]:
for i in range(10):
    print("It's number", i)
print("done")
print(list(range(10)))

It's number 0
It's number 1
It's number 2
It's number 3
It's number 4
It's number 5
It's number 6
It's number 7
It's number 8
It's number 9
done
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
alphabet = ['a','b','c','d','e']
for ch in alphabet:
    print(ch)

a
b
c
d
e

In [44]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [45]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [46]:
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [8]:
alphabet = ['c', 'd', 'a', 'b', 'e']
print(alphabet)
alphabet.sort()
print(alphabet)

friends = ['Alice', 'Carole', 'Bob']
friends.sort()
print(friends)

['c', 'd', 'a', 'b', 'e']
['a', 'b', 'c', 'd', 'e']
['Alice', 'Bob', 'Carole']

In [9]:
friends = ['Alice', 'Carole', 'Bob']
friends_copy = friends[:]
friends_copy.sort()
print(friends_copy)
print(friends)

['Alice', 'Bob', 'Carole']
['Alice', 'Carole', 'Bob']

In [10]:
friends = ['Alice', 'Carole', 'Bob']
friends_copy = sorted(friends) # 알파벳 순서로 정렬
print(friends_copy)
print(friends)

['Alice', 'Bob', 'Carole']
['Alice', 'Carole', 'Bob']

In [11]:
x = 100
y = 100
print(id(x), id(y))
y = 200
print(id(x), id(y))

140714672997248 140714672997248
140714672997248 140714673000448

In [13]:
alphabet = ['c', 'd', 'a', 'b', 'e']
myAlpha = alphabet # 얕은 복사: 정렬시 모두 정렬
print(id(alphabet), id(myAlpha))
alphabet.sort()
print(id(alphabet), id(myAlpha))
print(alphabet)
print(myAlpha)

2633170652672 2633170652672
2633170652672 2633170652672
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

In [17]:
import copy

alphabet = ['c', 'd', 'a', 'b', 'e']
alpha_copy = copy.deepcopy(alphabet) # 깊은 복사: 정렬시 해당 변수에 대한 것만 정렬
print(id(alphabet), id(alpha_copy))
alpha_copy.sort()
print(id(alphabet), id(alpha_copy))
print(alphabet)
print(alpha_copy)

2633171517248 2633170612928
2633171517248 2633170612928
['c', 'd', 'a', 'b', 'e']
['a', 'b', 'c', 'd', 'e']

In [19]:
BobScore = [80, 70, 90, 60]
AliceScore = [90, 60, 80, 75]
CaroleScore = [95, 90, 95, 90]
AllScore = [BobScore, AliceScore, CaroleScore]
print(AllScore)
print(AliceScore[2])
print(AllScore[1][2])

[[80, 70, 90, 60], [90, 60, 80, 75], [95, 90, 95, 90]]
80
80

In [20]:
a = [8, 4, 9, 5]
small = a[0]
for i in range(1, len(a)):
    if small > a[i]:
        small = a[i]
print(small)

4

In [22]:
a = [5, 2, 5, 7, 9, 10, 1]
print(dir(a))
print(len(a))
a.reverse()
print(a)
print(sum(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
7
[1, 10, 9, 7, 5, 2, 5]
39
[1, 10, 9, 7, 5, 2, 5]

In [23]:
eratosthenes = []
for i in range(2, 65):
    eratosthenes.append(i)
print(eratosthenes)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

In [28]:
eratosthenes = []
for i in range(2, 65):
    eratosthenes.append(i)
print(eratosthenes)
      
for i in eratosthenes:
    if i>2 and i%2==0:
        eratosthenes.remove(i)
print("2를 제외한 2의배수 제거:",eratosthenes)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]
2를 제외한 2의배수 제거: [2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63]

In [30]:
eratosthenes = []
for i in range(2, 65):
    eratosthenes.append(i)
print(eratosthenes)
      
for i in range(2,4):
    for j in eratosthenes:
        if j>i and j%i==0:
            eratosthenes.remove(j)
print("3을 제외한 3의배수 추가제거:",eratosthenes)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]
3을 제외한 3의배수 추가제거: [2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61]

In [33]:
eratosthenes = []

for i in range(2, 65):
    eratosthenes.append(i)
print(eratosthenes)

for i in eratosthenes:
    for j in eratosthenes:
        if j>i and j%i==0:
            eratosthenes.remove(j)
print("소수:",eratosthenes)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]
소수: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]

In [34]:
import math

for n in range(51):
    m = 2**n - 1
    for j in range(2, int(math.sqrt(m)) + 1):
        if m % j == 0:
            break
    else:
        print(m)

0
1
3
7
31
127
8191
131071
524287
2147483647

In [1]:
import math
N = 50
sieve = [n for n in range(2, N+1)]
for i in sieve:
    for j in sieve:
        if j>i and j%i==0:
            sieve.remove(j)

for p in sieve:
    m = 2**p - 1
    for j in range(2, int(math.sqrt(m))+1):
        if m%j==0:
            break
    else:
        print(m)

3
7
31
127
8191
131071
524287
2147483647

In [29]:
a = [8,4,9,5]

def bubble_sort(data):
    for i in range(len(data)):
        for j in range(len(data)-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
            else:
                pass
    return data

print(bubble_sort(a))

[4, 5, 8, 9]

In [2]:
import time
import random
low = 0
high = 1000000

iter = 100000
a = []
for i in range(iter):
    a.append(random.randint(low, high))

start = time.time()
a.sort()
end = time.time()
print("Running sort(%d) takes %s" %(iter, end - start))

Running sort(100000) takes 0.016236066818237305

In [ ]:
################ 버블정렬과 sort함수 간의 비교 ###################### (일단보류)
low = 0
high = 1000000

iter = 100000
a = []
for i in range(iter):
    a.append(random.randint(low, high))
    
def bubble_sort(data):
    for i in range(len(data)):
        for j in range(len(data)-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
            else:
                pass
    return data

start = time.time()
bubble_sort(a)
end = time.time()
print("Running bubble_sort(%d) takes %s" %(iter, end - start))

In [2]:
score = (80, 70, 90, 60)
print(score)
print(score[1])
score[1] = 100 # 튜플은 추가, 수정, 삭제 불가 하지만 리스트보다 속도가 빠르다

(80, 70, 90, 60)
70

TypeError: 'tuple' object does not support item assignment

In [3]:
student = (20153360, '김영재', 23)

id, name, age = student

print(id)
print(name)
print(age)

20153360
김영재
23

In [5]:
dic = {2015123: 'Alice', 2015200: 'Bob', "KMU": 'JeongReung'}
dic[2015300] = 'Carole'
dic.update({2015400: 'Dave', 2015500: 'Eve'})
print(dic)

{2015123: 'Alice', 2015200: 'Bob', 'KMU': 'JeongReung', 2015300: 'Carole', 2015400: 'Dave', 2015500: 'Eve'}

In [7]:
dic = {2015123: 'Alice', 2015200: 'Bob', "KMU": 'JeongReung'}
dic[2015300] = 'Carole'
dic.update({2015400: 'Dave', 2015500: 'Eve'})
print(dic)
print(dic["KMU"])
print(dic[2015200])
# print(dic["Alice"])는 키값이 아니라 value값이기 때문에 출력에 오류가 발생한다.

{2015123: 'Alice', 2015200: 'Bob', 'KMU': 'JeongReung', 2015300: 'Carole', 2015400: 'Dave', 2015500: 'Eve'}
JeongReung
Bob

In [8]:
dic = {2015123: 'Alice', 2015200: 'Bob', "KMU": 'JeongReung'}
https://wikidocs.net/book/1
del dic[2015123]
print(dic)

x = dic.pop("KMU") # KMU에 해당하는 값을 제거하고 반환
print(dic)
print(x)

{2015200: 'Bob', 'KMU': 'JeongReung'}
{2015200: 'Bob'}
JeongReung

In [9]:
dic = {2015123: 'Alice', 2015200: 'Bob', "KMU": 'JeongReung'}
for key in dic:
    print(key, "'s value is ", dic[key])
print()
for key, value in dic.items():
    print(key, "'s value is", value)

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

2015123 's value is Alice
2015200 's value is Bob
KMU 's value is JeongReung

In [11]:
dic = {2015123: "Alice", 2015200: "Bob", "KMU": "JeongReung"}
for key in dic:
    print(key, "'s value is ", dic[key])
print()
for key, value in dic.items():
    print(key, "'s value is ", value)

print(dic[2017100])

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

KeyError: 2017100

In [13]:
dic = {2015123: "Alice", 2015200: "Bob", "KMU": "JeongReung"}
for key in dic:
    print(key, "'s value is ", dic[key])
print()
for key, value in dic.items():
    print(key, "'s value is ", value)
print()
if 2017100 in dic:
    print(dic[2017100])
else:
    print("key error")

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

key error

In [14]:
dic = {2015123: "Alice", 2015200: "Bob", "KMU": "JeongReung"}
for key in dic:
    print(key, "'s value is ", dic[key])
print()
for key, value in dic.items():
    print(key, "'s value is ", value)
print()

id = dic.get(2017100)
print("ID:", id)

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

2015123 's value is  Alice
2015200 's value is  Bob
KMU 's value is  JeongReung

ID: None

In [15]:
A = {"a", "b", "c", 1, 2}
B = {"a", "c", "d", 3, 4}
print("A =", A)
print("B =", B)
print("A union B =", A | B)
print("A intersect B =", A & B)
print("A minus B =", A - B)
print("A symmetric difference B =", A ^ B) # 대칭차집합 : 합집합 - 교집합

A = {1, 2, 'b', 'a', 'c'}
B = {3, 4, 'd', 'a', 'c'}
A union B = {1, 2, 3, 4, 'b', 'd', 'a', 'c'}
A intersect B = {'a', 'c'}
A minus B = {1, 2, 'b'}
A symmetric difference B = {1, 2, 3, 4, 'b', 'd'}

In [17]:
prime_numbers = {2, 3, 5, 7}

print("추가 전 :", prime_numbers)

prime_numbers.add(11)
print("11 추가 후 :", prime_numbers) # 한개의 원소 추가시 add 사용

prime_numbers.update([13, 17, 19])
print("[13, 17, 19] 추가 후 :", prime_numbers) # 여러개의 원소 추가시 update 사용

추가 전 : {2, 3, 5, 7}
11 추가 후 : {2, 3, 5, 7, 11}
[13, 17, 19] 추가 후 : {2, 3, 5, 7, 11, 13, 17, 19}

In [19]:
prime_numbers = {2, 3, 5, 7, 9, 11, 13, 15, 17, 19}

print("원소 삭제 전 :", prime_numbers)
prime_numbers.discard(9) # 원소가 집합에 있으면 삭제
print("9 삭제 후 :", prime_numbers)
prime_numbers.remove(15) # 원소가 집합에 있으면 삭제, 없으면 에러를 발생
print("15 삭제 후 :", prime_numbers)

원소 삭제 전 : {2, 3, 5, 7, 9, 11, 13, 15, 17, 19}
9 삭제 후 : {2, 3, 5, 7, 11, 13, 15, 17, 19}
15 삭제 후 : {2, 3, 5, 7, 11, 13, 17, 19}

In [21]:
allSet = [{1,2,3,4,5,6,7,8,9}, {1,3,5,7,12,15},
         {3,12,15,18,20}, {12,13,14,15,16,17,18,19}]
print(len(allSet))

for i in range(0, len(allSet) - 1):
    for j in range(i+1, len(allSet)):
        print(len(allSet[i] & allSet[j]) / len(allSet[i] | allSet[j]))

4
0.36363636363636365
0.07692307692307693
0.0
0.375
0.16666666666666666
0.3

In [22]:
from itertools import combinations
s = {1,2,3,4}
print(list(combinations(s,2)))
print(list(combinations(s,3)))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]

In [23]:
from itertools import combinations
A = {-7, -3, -2, 5, 8}
ans = False
for i in range(1, len(A) + 1):
    pos = list(combinations(A,i))
    for j in pos:
        if sum(j) == 0:
            ans = True
            print(j)
            break
    if ans:
        break
if ans:
    print("true")
else:
    print("false")

(5, -3, -2)
true

In [24]:
print(type("Hello 과소사"))
print(type("!@#$%^&*"))
print(type(123456789))
print(type("123456789"))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [25]:
a = "큰따옴표"
b = '작은따옴표'

print(type(a))
print(type(b))

c = 123456789
d = str(c)
print(d, type(d))

<class 'str'>
<class 'str'>
123456789 <class 'str'>

In [5]:
a = "곰 세 마리가 한 집에 있어, 아빠곰, 엄마곰, 애기곰"
print(a.split(sep = " "))
print(a.split(sep = ',', maxsplit = 1)) # 쉼표를 기준으로 나누되, 한번만 쪼갠다.
print(a.split(",",1))
print(a.split(sep = '곰'))

['곰', '세', '마리가', '한', '집에', '있어,', '아빠곰,', '엄마곰,', '애기곰']
['곰 세 마리가 한 집에 있어', ' 아빠곰, 엄마곰, 애기곰']
['곰 세 마리가 한 집에 있어', ' 아빠곰, 엄마곰, 애기곰']
['', ' 세 마리가 한 집에 있어, 아빠', ', 엄마', ', 애기', '']

In [7]:
a = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 공 공장장이다.'
print(a.split(sep = '장'))
b = '사람들은 햇콩 단콩 콩죽 깨죽 죽먹기를 싫어하더라'
print(b.split(sep = ' ', maxsplit = 5))
c = '내가 그린 그림은 긴 기린 그린 그림이고 네가 그린 기린 그림은 안 긴 기린 그림이다.'
print(c.split('그린'))
d = '백합백화점 옆에 백화백화점이 있고 백화백화점 옆에 백합백화점이 있다.'
print(d.split('백', 4))

['간', ' 공', ' 공', '', '은 강 공', '', '이고 된', ' 공', ' 공', '', '은 공 공', '', '이다.']
['사람들은', '햇콩', '단콩', '콩죽', '깨죽', '죽먹기를 싫어하더라']
['내가 ', ' 그림은 긴 기린 ', ' 그림이고 네가 ', ' 기린 그림은 안 긴 기린 그림이다']
['', '합', '화점 옆에 ', '화', '화점이 있고 백화백화점 옆에 백합백화점이 있다.']

In [13]:
color = ('red', 'green', 'blue', 'yellow', 'violet')
print(' and '.join(color))

subject = "국어 수학 영어 물리 화학 생명과학 지구과학 한국사 대학수학능력시험"
print(subject.split())
print("영역 ".join(subject.split()))

character = "뽀로로, 에디, 루피, 포비, 패티, 해리, 크롱"
print(character.split(sep=','))
print("와".join(character.split(sep=',')))

red and green and blue and yellow and violet
['국어', '수학', '영어', '물리', '화학', '생명과학', '지구과학', '한국사', '대학수학능력시험']
국어영역 수학영역 영어영역 물리영역 화학영역 생명과학영역 지구과학영역 한국사영역 대학수학능력시험
['뽀로로', ' 에디', ' 루피', ' 포비', ' 패티', ' 해리', ' 크롱']
뽀로로와 에디와 루피와 포비와 패티와 해리와 크롱

In [14]:
formatting1 = '국민대학교 %s' % '소프트웨어학부'
print(formatting1)

국민대학교 소프트웨어학부

In [15]:
c = '내가 그린 그림은 긴 기린 그린 그림이고 네가 그린 기린 그림은 안 긴 기린 그림이다.'
pa = '그림'
gr = '기린'
result = ('내가 그린 %s은 긴 %s 그린 %s이고 네가 그린 %s %s은 안 긴 %s %s이다.' %(pa,gr,pa,gr,pa,gr,pa))
print(c)
print(result)

내가 그린 그림은 긴 기린 그린 그림이고 네가 그린 기린 그림은 안 긴 기린 그림이다.
내가 그린 그림은 긴 기린 그린 그림이고 네가 그린 기린 그림은 안 긴 기린 그림이다.

In [16]:
formatting2 = '국민대학교 {}'.format('소프트웨어학부')
print(formatting2)

국민대학교 소프트웨어학부

In [2]:
school = 'Kookmin Univ.'
introduce = f'My school is {school}'
print(introduce)

My school is Kookmin Univ.

In [19]:
song = """빠빠라 빠빠라 빠 삐삐리 빠삐코, (헤이!)
  더울수록 시원한 맛 삼강 빠삐코
  하늘 보고~ 땅을 보고~
  손이 시려워! 입이 시려!
  올 여름 더위는 빠삐코에 맡겨다오, 다오, 다오, 다오!
  빠빠라 빠빠라 빠삐코, 삼강 빠빠 빠빠라 빠삐코!"""

print("빠삐코 CM송 모두 {}글자이다.",format(len(song)))
print("빠삐코를 앞에서부터 찾으면 {}, 뒤에서부터 찾으면 {}이다.".format(song.find("빠삐코"), song.rfind("빠삐코")))
print("삼강은 {}에서 처음 나온다. 그러나 이제는 롯데다.".format(song.index("삼강")))
print("빠는 몇 번이나 나왔을까?  {}번이나 나왔네!".format(song.count('빠')))

빠삐코 CM송 모두 {}글자이다. 141
빠삐코를 앞에서부터 찾으면 14, 뒤에서부터 찾으면 137이다.
삼강은 38에서 처음 나온다. 그러나 이제는 롯데다.
빠는 몇 번이나 나왔을까?  18번이나 나왔네!

In [20]:
beginagain = [
    "I thought I saw you out there crying",
    "I thought I heard you call my name",
    "I thought I heard you out there crying"
]

for i in beginagain:
    if i.startswith("I") and i.endswith("ing"):
        print(i)
    else:
        print("")

I thought I saw you out there crying

I thought I heard you out there crying

In [2]:
print("핸드폰 번호를 입력합니다. 하나씩 차근차근 입력해주세요.")
phonenumber = ""
for j in range(11):
    phone = input("")
    if phone.isdecimal():
        phonenumber += phone
        if j == 2 or j == 6:
            phonenumber += "-"
    else:
        print("숫자가 입력되지 않았습니다. 실행을 중지합니다.")
        exit()
if len(phonenumber) == 13:
    print(phonenumber)

핸드폰 번호를 입력합니다. 하나씩 차근차근 입력해주세요.
0
1
0
5
1
7
6
7
6
7
3
010-5176-7673

In [4]:
example = "   I'll be your 1UP Gir   l    "
print(example)
print(example.strip())
example.replace("","END")

   I'll be your 1UP Gir   l
I'll be your 1UP Gir   l

"END END END ENDIEND'ENDlENDlEND ENDbENDeEND ENDyENDoENDuENDrEND END1ENDUENDPEND ENDGENDiENDrEND END END ENDlEND END END END END"