In [1]:
def print_my_info():
    print("My name is Han.")
    print("I am 22 years old.")
    print("Nice to meet you.")

print_my_info()

My name is Han.
I am 22 years old.
Nice to meet you.

In [3]:
def printMyAddress():
    print("function starts")
    print("M Yoon")
    print("717 Building #7, Kookmin Univ.")
    print("JungReung-Dong, SungBuk-Gu")
    print("Seoul")
    print("South Korea")
    print()
    print("function done")
    
print("Program starts")
printMyAddress()
print("Program done")

Program starts
function starts
M Yoon
717 Building #7, Kookmin Univ.
JungReung-Dong, SungBuk-Gu
Seoul
South Korea

function done
Program done

In [4]:
def get_sum(start, end):
    ret = 0
    for num in range(start, end+1):
        ret += num
    return ret

a = int(input("A >"))
b = int(input("B >"))

print("{} 부터 {} 까지의 합은 {} 입니다.".format(a,b,get_sum(a,b)))

A >5
B >9
5 부터 9 까지의 합은 35 입니다.

In [5]:
def combi(n,r):
    res1 = 1
    res2 = 1
    if n>1:
        for i in range(r):
            res1 *= n
            res2 *= r
            n, r = n-1, r-1
        return res1//res2 # 몫
    else:
        return "자연수를 입력해주세요."
    
print(combi(5,2))

10

In [12]:
def cake(n):
    sum = 1
    for i in range(n+1):
        sum += i
    return sum

cake(1500)

1125751

In [1]:
def get_sum(*args):
    ret = 0
    for each in args:
        ret += each
    return ret

print(get_sum(1,2,3,4,5,6,7,8,9))

45

In [2]:
def print_my_info(n=1):
    for i in range(n):
        print("My namwe is Kim")
        
print_my_info()
print("--구분선--")
print_my_info(3)

My namwe is Kim
--구분선--
My namwe is Kim
My namwe is Kim
My namwe is Kim

In [3]:
def f1():
    print("f1 starts")
    f2()
    print("f1 ends")
    
def f2():
    print("f2 starts")
    f3()
    print("f2 ends")
    
def f3():
    print("f3 starts")
    print("f3 ends")
    
print("Program starts")
f1()
print("Program ends")

Program starts
f1 starts
f2 starts
f3 starts
f3 ends
f2 ends
f1 ends
Program ends

In [6]:
def printMyAddress(firstName, lastName, roomNum):
    print(firstName, lastName)
    print("Room #", roomNum)
    print("Kookmin Univ., South Korea")
    
printMyAddress("M", "Yoon", 616)
printMyAddress("S", "Yoon", 717)
printMyAddress("K", "Hong", 777)

M Yoon
Room # 616
Kookmin Univ., South Korea
S Yoon
Room # 717
Kookmin Univ., South Korea
K Hong
Room # 777
Kookmin Univ., South Korea

In [8]:
def printPerson(name, num):
    name = "S Lee"
    num = 618
    print("In the func.:", name, num)
    
pName = "M Yoon"
pNum = 616
print("Before the func.", pName, pNum)
printPerson(pName, pNum)
print("After the func.", pName, pNum)

Before the func. M Yoon 616
In the func.: S Lee 618
After the func. M Yoon 616

In [11]:
def mutableArgument(names):
    names.append("Bob")
    names.sort()
    print("In the func.:", names)

pNames = ["Dave", "Alice"]
print("Before the func.:", pNames)
print(pNames)
mutableArgument(pNames)
print(pNames)
print("After the func.:", pNames)

Before the func.: ['Dave', 'Alice']
['Dave', 'Alice']
In the func.: ['Alice', 'Bob', 'Dave']
['Alice', 'Bob', 'Dave']
After the func.: ['Alice', 'Bob', 'Dave']

In [12]:
def exp(g, m):
    return (g(m))

def f1(x):
    return x*x

def f2(x):
    return x*x*x

n=5
print(n, exp(f1, n))
print(n, exp(f2, n))

5 25
5 125

In [13]:
def combi(n,r):
    res1 = 1
    res2 = 1
    if n>1:
        for i in range(r):
            res1 *= n
            res2 *= r
            n, r = n-1, r-1
        return res1//res2 # 몫
    else:
        return "자연수를 입력해주세요."
    
print(combi(5,2))

10

In [14]:
def combi(n,r):
    res1 = 1
    res2 = 1
    if n>1:
        for i in range(r):
            res1 *= n
            res2 *= r
            n, r = n-1, r-1
        return res1//res2 # 몫
    else:
        return "자연수를 입력해주세요."

def recombi(n, r):
    return combi(r+(n-1), r)

print(recombi(3,4))

15

In [15]:
def calculate_tax(price, tax_rate):
    total = price+(price*tax_rate)
    return total

my_price = float(input("Enter a price: "))

total_price = calculate_tax(my_price, 0.06)

print("price = ", my_price, " Total price = ",total_price)

Enter a price: 500
price =  500.0  Total price =  530.0

In [16]:
def calculate_tax(price, tax_rate):
    total = price+(price*tax_rate)
    global my_price
    my_price += 200
    return total

my_price = float(input("Enter a price: "))

total_price = calculate_tax(my_price, 0.06)

print("price = ", my_price, " Total price = ",total_price)

Enter a price: 100
price =  300.0  Total price =  106.0

In [20]:
def outer_func():
    print("Call outer function")
    
    def inner_func():
        print("Call inner function")
        
    return inner_func()

outer_func()

Call outer function
Call inner function

In [21]:
def outer_func(name):
    
    def inner_func():
        msg = "Hello, " + name
        print(msg)
    return inner_func()

my_name = input("Enter your name: ")
outer_func(my_name)

Enter your name: yun
Hello, yun

In [25]:
def outer_func(name):
    
    def inner_func():
        nonlocal name  # 바깥함수의 변수를 변경하려면 nonlocal을 표시
        name = "Student" + name
        msg = "Hello, " + name
        print(msg)
    return inner_func()

my_name = input("Enter your name: ")
outer_func(my_name)

Enter your name: yun
Hello, Studentyun

In [26]:
get_sum = lambda x, y: x+y
print(get_sum(1,2))

3

In [28]:
def exp(g,m):
    return (g(m))

f1 = lambda x: x*x
f2 = lambda x: x*x*x

n=5

print(n, f1(n))
print(n, f2(n))
print(n, exp(f1, n))
print(n, exp(f2, n))

5 25
5 125
5 25
5 125

In [31]:
a = [("Yoon", 2010), ("Lee", 2006), ("Lim", 2004)]
a.sort(key = lambda x: x[1]) # 튜플의 두번째 값으로 정렬
print(a)

[('Lim', 2004), ('Lee', 2006), ('Yoon', 2010)]

In [32]:
print(abs(-3))
print(abs(4+3j)) # 복소수인 경우 sqrt(x*x+y*y) 값으로 반환

3
5.0

In [33]:
numbers = [91,7,1,18,29,66,89,41,96,32]

print("MAX : ", max(numbers))
print("MIN : ", min(numbers))

MAX :  96
MIN :  1

In [36]:
members = ['김성규', '장동우', '남우현', '이성열', '엘', '이성종']

for number, name in enumerate(members, start=1): # 첫번째 요소로 인덱스, 두번째 요소로 인덱스에 해당하는 값
    print("{} 번째 맴버 : {}" .format(number, name))

1 번째 맴버 : 김성규
2 번째 맴버 : 장동우
3 번째 맴버 : 남우현
4 번째 맴버 : 이성열
5 번째 맴버 : 엘
6 번째 맴버 : 이성종

In [37]:
number_list = [1,2,3,4,5,6,7,8,9,10]

print(sum(number_list))

55

In [39]:
number_list = [91,7,1,18,29,66,89,41,96,32]

sorted_number_list = sorted(number_list)

print("number_list :", number_list)
print("sorted_number_list :", sorted_number_list)

number_list : [91, 7, 1, 18, 29, 66, 89, 41, 96, 32]
sorted_number_list : [1, 7, 18, 29, 32, 41, 66, 89, 91, 96]

In [42]:
student = [
    ("허준녕", 20153253, 4.2),
    ("김영재", 20153180, 3.7),
    ("한채연", 20153250, 4.5)
]

print("Before sorted :", student)
sort_by_id = sorted(student, key = lambda x: x[1])
print("Sort by id :", sort_by_id)
sort_by_grade = sorted(student, key = lambda x: x[2], reverse = True)
print("Sort by grade :", sort_by_grade)

Before sorted : [('허준녕', 20153253, 4.2), ('김영재', 20153180, 3.7), ('한채연', 20153250, 4.5)]
Sort by id : [('김영재', 20153180, 3.7), ('한채연', 20153250, 4.5), ('허준녕', 20153253, 4.2)]
Sort by grade : [('한채연', 20153250, 4.5), ('허준녕', 20153253, 4.2), ('김영재', 20153180, 3.7)]

In [44]:
student = {
    20153180 : 3.7,
    20153250 : 4.5,
    20153253 : 4.2
}

for key, value in sorted(student.items(), key = lambda x: x[1], reverse = True):
    print(key, ":", value)

20153250 : 4.5
20153253 : 4.2
20153180 : 3.7

In [49]:
a = "Kookmin Univ. is leading the computer science".split()
print(a)
a.sort()
print(a) # 대문자 알파벳 순서대로 먼저 정렬 후 소문자 알파벳 순서대로 정렬
a.sort(key = str.upper)
print(a)
a.sort(key = str.upper, reverse = True)
print(a)

['Kookmin', 'Univ.', 'is', 'leading', 'the', 'computer', 'science']
['Kookmin', 'Univ.', 'computer', 'is', 'leading', 'science', 'the']
['computer', 'is', 'Kookmin', 'leading', 'science', 'the', 'Univ.']
['Univ.', 'the', 'science', 'leading', 'Kookmin', 'is', 'computer']

In [50]:
b = ["34", "123", "7"]
b.sort()
print(b)
b.sort(key = int) # 스트링을 정수로 변경하여 정렬
print(b)

['123', '34', '7']
['7', '34', '123']

In [51]:
n = 10
sum = 0
for i in range(1, n+1):
    sum = sum + i
print(n, sum)

10 55

In [53]:
def sigma(n):
    if n == 1:
        return n
    else:
        return n + sigma(n-1)
    
n = 10
print(n, sigma(n))

10 55

In [54]:
def facto(n):
    if n == 0:
        return 1
    else:
        return n*facto(n-1)
    
n = int(input("N >"))
print("{}! = {}" .format(n, facto(n)))

N >5
5! = 120

In [56]:
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a%b)
    
a = int(input("a >"))
b = int(input("b >"))

print("{} 와 {}의 최대공약수는 {}입니다." .format(a, b, gcd(a, b)))

a >128
b >64
128 와 64의 최대공약수는 64입니다.

In [57]:
def fibo(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
n = int(input("n >"))
print("{}번째 피보나치 수 : {}" .format(n, fibo(n)))

n >8
8번째 피보나치 수 : 21

In [58]:
counter = 0

def fibo(n):
    global counter
    counter += 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
n = int(input("n >"))
print("{}번째 피보나치 수 : {}" .format(n, fibo(n)))
print("총 {}번 연산을 하였습니다." .format(counter))

n >8
8번째 피보나치 수 : 21
총 67번 연산을 하였습니다.

In [3]:
import time

def fibo(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
n = int(input())
start = time.time()
print("{}번째 피보나치 수 : {}" .format(n, fibo(n)))
print("소요된 시간: {}" .format(time.time() - start))

20
20번째 피보나치 수 : 6765
소요된 시간: 0.0030422210693359375

In [4]:
import time

def fibo_loop(n):
    a, b = 1, 1
    if n == 1 or n == 2:
        return 1
    
    for i in range(1,n):
        a, b = b, a+b
        
    return a

n = int(input())
start = time.time()
print("{}번째 피보나치 수 : {}" .format(n, fibo_loop(n)))
print("소요된 시간: {}" .format(time.time() - start))

20
20번째 피보나치 수 : 6765
소요된 시간: 0.0

In [5]:
import time

fib = lambda n: 1 if n<=2 else fib(n-1) + fib(n-2)

n = int(input())
start = time.time()
print("{}번째 피보나치 수 : {}" .format(n, fib(n)))
print("소요된 시간: {}" .format(time.time() - start))

20
20번째 피보나치 수 : 6765
소요된 시간: 0.0019941329956054688

In [6]:
import time


fib = lambda n, a=0, b=1 : a if n<=0 else fib(n-1,b, a+b)

n = int(input())
start = time.time()
print("{}번째 피보나치 수 : {}" .format(n, fib(n)))
print("소요된 시간: {}" .format(time.time() - start))

20
20번째 피보나치 수 : 6765
소요된 시간: 0.0

In [15]:
counter = 0

memo = {}

def fibo(n):
    global counter
    counter += 1
    if n in memo:
        return memo[n]
    if n == 0:
        memo[n] = 0
    elif n == 1:
        memo[n] = 1
    else:
        memo[n] = fibo(n-1) + fibo(n-2)
    return memo[n]

n = int(input("n >"))
print("{}번째 피보나치 수 : {}" .format(n,fibo(n)))
print("총 {}번 연산을 하였습니다." .format(counter))

n >5
5번째 피보나치 수 : 5
총 9번 연산을 하였습니다.

In [18]:
import turtle

s = turtle.Screen()
t = turtle.Turtle()
angle = 30

def draw_tree(t, line_length):
    if line_length > 0:
        t.forward(line_length)
        t.left(angle)
        draw_tree(t, line_length - 10)
        t.right(angle)
        t.right(angle)
        draw_tree(t, line_length - 10)
        t.left(angle)
        t.backward(line_length)
        
    
if __name__ == "__main__":
    line_length = 60
    t.left(90)
    draw_tree(t, line_length)

In [2]:
def hanoi(n, start, mid, end):
    if n==1:
        print("%d : %c -> %c" %(n, start, end))
    else:
        hanoi(n-1, start, end, mid)
        print("%d : %c -> %c" %(n, start, end))
        hanoi(n-1, mid, start, end)
if __name__ == "__main__":
    n = int(input("N : "))
    hanoi(n,"A", "B", "C")

N : 5
1 : A -> C
2 : A -> B
1 : C -> B
3 : A -> C
1 : B -> A
2 : B -> C
1 : A -> C
4 : A -> B
1 : C -> B
2 : C -> A
1 : B -> A
3 : C -> B
1 : A -> C
2 : A -> B
1 : C -> B
5 : A -> C
1 : B -> A
2 : B -> C
1 : A -> C
3 : B -> A
1 : C -> B
2 : C -> A
1 : B -> A
4 : B -> C
1 : A -> C
2 : A -> B
1 : C -> B
3 : A -> C
1 : B -> A
2 : B -> C
1 : A -> C

In [3]:
MAXN = 1000

n = int(input())
ans = []

def d(num):
    ret = num
    while num:
        ret += num % 10
        num //= 10
    
    if ret > MAXN:
        return
    ans.append(ret)
    d(ret)
d(n)
for i in ans:
    print(i)

12
15
21
24
30
33
39
51
57
69
84
96
111
114
120
123
129
141
147
159
174
186
201
204
210
213
219
231
237
249
264
276
291
303
309
321
327
339
354
366
381
393
408
420
426
438
453
465
480
492
507
519
534
546
561
573
588
609
624
636
651
663
678
699
723
735
750
762
777
798
822
834
849
870
885
906
921
933
948
969
993